<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/about" class="navbar-logo">
      <img src="assets/profile1.jpeg" alt="Jorge Perello, analista desarrollador full-stack" class="navbar-profile-img">
      <span>Jorge Perello</span><span class="full-title-suffix">, analista desarrollador de software full-stack.</span>
    </a>
    
    <ul class="navbar-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Proyectos</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Sobre Mí</a></li>
    </ul>
  </div>
</nav>